<div class="card border-dark mt-3">
    <div class="card-header">At a Glance</div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h5 class="text-center">Load</h5>
          <p class="text-center"><span id="loadindicator" class="systemindicator"></span></p>
        </div>
        {% if quota == True %}
        <div class="col">
          <h5 class="text-center">Disk</h5>
          <p class="text-center"><span id="quotaindicator" class="systemindicator"></span></p>
        </div>
        {% endif %}
        <div class="col">
          <h5 class="text-center">RAM</h5>
          <p class="text-center"><span id="ramindicator" class="systemindicator"></span></p>
        </div>
        <div class="col">
            <h5 class="text-center">IOWait</h5>
            <p class="text-center"><span id="iowait-glance">--</span></p>
          </div>
      </div>
      {% if (quota == False or config.ADMIN_USER == user) %} 
         {{macros.build_disk_glances(mounts=mounts)}}
      {% endif %}
      <h5 class="text-center">Uptime</h5>
      <div class="countup text-center" id="uptime">
        <p>
          <span class=" days">00</span>
          <span class=" timeRefDays">days</span>
          <span class=" hours">00</span>
          <span class=" timeRefHours">hours</span>
          <span class=" minutes">00</span>
          <span class=" timeRefMinutes">minutes</span>
          <span class=" seconds">00</span>
          <span class=" timeRefSeconds">seconds</span>
        </p>
      </div>
    </div>
</div>