{% import "macros.html" as macros %}
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/darkly/bootstrap.min.css">
  <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/swizzin.css')}}">
</head>
<body>
<div class="d-flex" id="wrapper">
  {{macros.build_sidebar(pages=pages)}}
  {% if config.SHAREDSERVER == True %}
    {{macros.build_nav_shared(user=user, selected="Home")}}
  {% else %}
    {{macros.build_nav(user=user, selected="Home")}}
  {% endif %}
  <!-- #page-content-wrapper -->
  <div class="container-fluid">
      <div class="card-columns">
          {% include 'glance.html' %}
          {{ macros.build_app_table(apps=pages) }}
          {% include 'systeminfo.html' %}
          {% include 'diskinfo.html' %}
          {% include 'raminfo.html' %}
          <div id="top10"></div>
      </div>
    </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#body-content-wrapper -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
<script src="{{ url_for('static', filename='js/swizzin.js') }}"></script>


<script>
{{ macros.build_widget_js() }}
{% if config.SHAREDSERVER == True %}
{{ macros.build_widget_js_shared() }}
{% endif %}

</script>

</body>
</html>
