{% macro build_sidebar(pages, vendor) %}
<div class="bg-dark" id="sidebar-wrapper">
    {% if vendor == "sbio" %}
      <div class="sidebar-heading"><img class="logo" src="{{ url_for('static', filename='img/vendors/sbio.png') }}" /></div>
    {% else %}
      <div class="sidebar-heading"><img class="logo" src="{{ url_for('static', filename='img/logo-dark.png') }}" /></div>
    {% endif %}
    <div class="list-group list-group-flush">
    {% for page in pages|sort(attribute="pretty_name") if page.url %}
        <a href="{{page.url}}" target="_blank" class="list-group-item list-group-item-action bg-dark"><img src="{{ url_for('static', filename='img/apps/'+page.img+'.png') }}" class="app-icon">{{page.pretty_name}}</a>
    {% endfor %}
    </div>
</div>
{% endmacro %}

{% macro build_nav(user, apps) %}
<div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="btn btn-primary" id="menu-toggle">«</button>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item {{ 'active' if request.endpoint == 'index' else '' }}">
              <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
          </li>
          {% if ('deluge' in apps|map(attribute="name") or 'rtorrent' in apps|map(attribute="name") or 'qbittorrent' in apps|map(attribute="name") or 'transmission' in apps|map(attribute="name")) %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Downloads
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              {% if 'transmission' in apps|map(attribute="name") %}
              <a class="dropdown-item" href="/transmission.downloads">Transmission</a>
              {% endif %}
              {% if 'rtorrent' in apps|map(attribute="name") %}
              <a class="dropdown-item" href="/rtorrent.downloads">rTorrent</a>
              {% endif %}
              {% if 'deluge' in apps|map(attribute="name") %}
              <a class="dropdown-item" href="/deluge.downloads">Deluge</a>
              {% endif %}
              {% if 'qbittorrent' in apps|map(attribute="name") %}
              <a class="dropdown-item" href="/qbittorrent.downloads">qBittorrent</a>
              {% endif %}
            </div>
          </li>
          {% endif %}
          {% if (config.ADMIN_USER == user and 'netdata' in apps|map(attribute="name")) %}
          <li class="nav-item {{ 'active' if request.endpoint == 'stats' else '' }}">
              <a class="nav-link" href="{{ url_for('stats') }}">Stats</a>
          </li>
          {% endif %}
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ user }}
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                <a class="dropdown-item" href="https://github.com/liaralabs/swizzin">Github</a>
                <a class="dropdown-item" href="https://discord.gg/sKjs9UM">Discord</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://swizzin.ltd">Documentation</a>
              </div>
          </li>
        </ul>
      </div>
  </nav>
{% endmacro %}

{% macro build_nav_shared(user, apps, vendor) %}
<div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button class="btn btn-primary" id="menu-toggle">«</button>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item {{ 'active' if request.endpoint == 'index' else '' }}">
              <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
          </li>
          {% if ('deluge' in apps|map(attribute="name") or 'rtorrent' in apps|map(attribute="name") or 'qbittorrent' in apps|map(attribute="name")) %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Downloads
            </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              {% if 'rtorrent' in apps|map(attribute="name") %}
              <a class="dropdown-item" href="/rtorrent.downloads">rTorrent</a>
              {% endif %}
              {% if 'deluge' in apps|map(attribute="name") %}
              <a class="dropdown-item" href="/deluge.downloads">Deluge</a>
              {% endif %}
              {% if 'qbittorrent' in apps|map(attribute="name") %}
              <a class="dropdown-item" href="/qbittorrent.downloads">qBittorrent</a>
              {% endif %}
            </div>
          </li>
          {% endif %}
          {% if (config.ADMIN_USER == user and 'netdata' in apps|map(attribute="name")) %}
          <li class="nav-item {{ 'active' if request.endpoint == 'stats' else '' }}">
              <a class="nav-link" href="{{ url_for('stats') }}">Stats</a>
          </li>
          {% endif %}
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ user }}
              </a>
              {% if vendor == "sbio" %}
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                <a class="dropdown-item" href="https://panel.seedbox.io/submitticket.php?step=2&deptid=2">Support</a>
                <a class="dropdown-item" href="https://discord.gg/wv67teS">Discord</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://panel.seedbox.io/index.php?rp=/knowledgebase/13/App-slots">Documentation</a>
              </div>
              {% else %}
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                <a class="dropdown-item" href="https://clients.swizzin.net">Support</a>
                <a class="dropdown-item" href="https://discord.gg/sKjs9UM">Discord</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="https://docs.swizzin.net">Documentation</a>
              </div>
              {% endif %}
          </li>
        </ul>
      </div>
  </nav>
{% endmacro %}

{% macro build_app_table(apps) %}
<div class="card border-dark mt-3">
  <div class="card-header">Service Info</div>
  <div class="card-body">
    <table class="table table-borderless table-hover table-sm table-dark">
        <tbody>
            <colgroup>
              <col style="width: 32%;">
              <col style="width: 30%;">
              <col style="width: 8%;">
              <col style="width: 30%;">
            </colgroup>
            {% for app in apps|sort(attribute="pretty_name") if app.systemd %}
            <tr>
                <td class="align-middle"><span class="align-middle">{{ app.pretty_name }}</span></td>
                <td class="align-middle text-center"><a post="true" phref="{{ url_for('service') }}" pdata='{"user": "{{ user }}", "function": "restart", "application": "{{ app.name }}"}' class="btn btn-xs btn-secondary"><i class="fa fa-refresh"></i>Restart</a></td>
                <td class="align-middle text-center"><span id="status_{{ app.name }}" class="indicator"></span></td>
                <td class="align-middle text-center"><input data-toggle="toggle" post="true" phref="{{ url_for('service') }}" pdata='{"application": "{{ app.name }}"}' type="checkbox" data-size="xs" data-on="Enabled" data-off="Disabled" data-onstyle="outline-success" data-offstyle="outline-danger" id="enabled_{{ app.name }}"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
</div>
{% endmacro %}

{% macro build_disk_info(mounts) %}
<table class="table table-sm table-dark table-borderless">
    <thead class="table-active">
        <tr>
            <th scope="col" class="text-center">Mount</th>
            <th scope="col" class="text-center">Used</th>
            <th scope="col" class="text-center">Free</th>
            <th scope="col" class="text-center">Total</th>
        </tr>
    </thead>
    {% for mount in mounts %}
    <tbody class="diskwidget">
        <tr style="height: 15px;"></tr>
        <tr>
            <td>{{ mount }}</td>
            <td id='{{ mount }}diskused' class="text-center"></td>
            <td id='{{ mount }}diskfree'class="text-center"></td>
            <td id='{{ mount }}disktotal' class="text-center"></td>
        </tr>
        <tr>
            <td colspan="4" class="align-middle"><span class="progress"><div id='{{ mount }}diskprogress' class='progress-bar' role='progressbar' style='' aria-valuenow='' aria-valuemin='0' aria-valuemax='100'></div></span></td>
          </tr>
        <tr>
            <td colspan="4" class="text-center"><span id='{{ mount }}diskpercent'></span>%</td>
        </tr>
    </tbody>
    {% if (loop.index == 3 and not loop.last) %}
      </table>
      <table class="table table-sm table-dark table-borderless collapse" id="collapsediskinfo" aria-expanded="false">
    {% endif %}
    {% if loop.last %}
      </table>
      {% if loop.index > 3 %}
      <a role="button" class="collapsed" data-toggle="collapse" href="#collapsediskinfo" aria-expanded="false" aria-controls="collapsediskinfo"></a>
      {% endif %}
    {% endif %}
    {% endfor %}
{% endmacro %}

{% macro build_disk_glances(mounts) %}
  <div id="diskglances">
   <div class="row">
      {% for mount in mounts %}
      <div class="col">
          <h5 class="text-center">{{ mount }}</h5>
          <p class="text-center"><span id="{{ mount }}indicator" class="systemindicator"></span></p>
      </div>
      {% if (loop.index == 3 and not loop.last) %}
        </div>
        <div id="collapsediskglances" class="collapse row" aria-expanded="false">
      {% endif %}
      {% if loop.last %}
        </div>
      {% if loop.index > 3%}
        <a role="button" class="collapsed" data-toggle="collapse" href="#collapsediskglances" aria-expanded="false" aria-controls="collapsediskinfo"></a>
      {% endif %}
      {% endif %}
  {% endfor %}
  </div>
{% endmacro %}

{% macro build_widget_js() %}
function getdisks() {
  $('#diskinfo').html('')
  var html =`
  <table class="table table-sm table-hover table-dark table-borderless">
      <thead class="table-active">
          <tr>
              <th scope="col" class="text-center">Mount</th>
              <th scope="col" class="text-center">Used</th>
              <th scope="col" class="text-center">Free</th>
              <th scope="col" class="text-center">Total</th>
          </tr>
      </thead>
  `
  $.get('{{ url_for('disk_free') }}', function(data) {
    var datalength = $(data).length
    var i = 0
    for (var mount in data) {
      html += `
      <tbody class="diskwidget">
      <tr style="height: 15px;"></tr>
      <tr>
          <td>`+mount+`</td>
          <td id='`+mount+`diskused' class="text-center"></td>
          <td id='`+mount+`diskfree'class="text-center"></td>
          <td id='`+mount+`disktotal' class="text-center"></td>
      </tr>
      <tr>
          <td colspan="4" class="align-middle"><span class="progress"><div id='`+mount+`diskprogress' class='progress-bar bg-warning' role='progressbar' style='' aria-valuenow='' aria-valuemin='0' aria-valuemax='100'></div></span></td>
        </tr>
      <tr>
          <td colspan="4" class="text-center"><span id='`+mount+`diskpercent'></span>%</td>
      </tr>
      </tbody>

      `
      if (i < $(data).length) {
        html += ``
      }
      i++
    }
      html += `
    </table>
    `
    $('#diskinfo').append(html)
    }
  );


}
//getdisks()

function appstatus() {
  $.ajax({
    url: "{{ url_for('app_status') }}",
    statusCode: {
      401: function() {
        window.location.replace("{{ url_for('logout') }}");
      }
    },
    success: function(data) {
      for (var apps in data) {
        var name = data[apps]["name"];
        var enabled = data[apps]["enabled"];
        var active = data[apps]["active"];
        if (active == true) {
          $("#status_"+name+".indicator").addClass("bg-success").removeClass("bg-danger");
        } else {
          $("#status_"+name+".indicator").addClass("bg-danger").removeClass("bg-success");
        }
        if (enabled == true) {
          $('#enabled_'+name).data('bs.toggle').on(true);
        } else {
          $('#enabled_'+name).data('bs.toggle').off(true);
        }
      }
      setTimeout(function() {
        appstatus();
      }, 60000);
    }
  });
}

appstatus();


(function loadavg() {
  $.ajax({
    url: "{{ url_for('loadavg')}}",
    statusCode: {
      401: function() {
        window.location.replace("{{ url_for('logout')}}");
      }
    },
    success: function(data) {
      $("#load1m").html(data['1m']);
      $("#load5m").html(data['5m']);
      $("#load15m").html(data['15m']);
      $("#loadpercent").html(data['perutil']);
      if (Number(data['perutil']) > 90) {
        $("#loadindicator.systemindicator").addClass("bg-danger").removeClass("bg-success bg-warning");
      } else if (Number(data['perutil']) > 75) {
        $("#loadindicator.systemindicator").addClass("bg-warning").removeClass("bg-success bg-danger");
      } else {
        $("#loadindicator.systemindicator").addClass("bg-success").removeClass("bg-warning bg-danger");
      }
      setTimeout(function() {
        loadavg();
      }, 60000);
    }
  });
})();

(function diskusage() {
  $.ajax({
    url: "{{ url_for('disk_free') }}",
    statusCode: {
      401: function() {
        window.location.replace("{{ url_for('logout') }}");
      }
    },
    success: function(data) {
      for (var mount in data) {
        var percent = Math.trunc(data[mount]['perutil']);
        $("#"+$.escapeSelector(mount)+"diskfree").html(data[mount]['diskfree']);
        $("#"+$.escapeSelector(mount)+"diskused").html(data[mount]['diskused']);
        $("#"+$.escapeSelector(mount)+"disktotal").html(data[mount]['disktotal']);
        $("#"+$.escapeSelector(mount)+"diskpercent").html(data[mount]['perutil']);
        if (Number(data[mount]['perutil']) > 90) {
          $("#"+$.escapeSelector(mount)+"indicator.systemindicator").addClass("bg-danger").removeClass("bg-success bg-warning");
          $("#"+$.escapeSelector(mount)+"diskprogress").css("width", percent + "%").attr("aria-valuenow", percent).addClass("bg-danger").removeClass("bg-success bg-warning");
        } else if (Number(data[mount]['perutil']) > 75) {
          $("#"+$.escapeSelector(mount)+"indicator.systemindicator").addClass("bg-warning").removeClass("bg-success bg-danger");
          $("#"+$.escapeSelector(mount)+"diskprogress").css("width", percent + "%").attr("aria-valuenow", percent).addClass("bg-warning").removeClass("bg-success bg-danger");
        } else {
          $("#"+$.escapeSelector(mount)+"indicator.systemindicator").addClass("bg-success").removeClass("bg-warning bg-danger");
          $("#"+$.escapeSelector(mount)+"diskprogress").css("width", percent + "%").attr("aria-valuenow", percent).addClass("bg-success").removeClass("bg-danger bg-warning");
        }
      }
      setTimeout(function() {
        diskusage();
      }, 60000);
    }
  });
})();

(function ramusage() {
  $.ajax({
    url: "{{ url_for('ram_stats') }}",
    statusCode: {
      401: function() {
        window.location.replace("{{ url_for('logout') }}");
      }
    },
    success: function(data) {
      var percent = Math.trunc(data['perutil']);
      $("#ramfree").html(data['ramfree']);
      $("#ramused").html(data['ramused']);
      $("#ramtotal").html(data['ramtotal']);
      $("#rampercent").html(data['perutil']);
      if (Number(data['perutil']) > 90) {
        $("#ramindicator.systemindicator").addClass("bg-danger").removeClass("bg-success bg-warning");
        $("#ramprogress").css("width", percent + "%").attr("aria-valuenow", percent).addClass("bg-danger").removeClass("bg-success bg-warning");
      } else if (Number(data['perutil']) > 75) {
        $("#ramindicator.systemindicator").addClass("bg-warning").removeClass("bg-success bg-danger");
        $("#ramprogress").css("width", percent + "%").attr("aria-valuenow", percent).addClass("bg-warning").removeClass("bg-success bg-danger");
      } else {
        $("#ramindicator.systemindicator").addClass("bg-success").removeClass("bg-warning bg-danger");
        $("#ramprogress").css("width", percent + "%").attr("aria-valuenow", percent).addClass("bg-success").removeClass("bg-danger bg-warning");
        }
      setTimeout(function(){
        ramusage()
      }, 60000);
    }
  });
})();

(function vnstat_top10() {
  $.ajax({
    url: "{{ url_for('vnstat') }}",
    statusCode: {
      401: function() {
        window.location.replace("{{ url_for('logout') }}");
      }
    },
    success: function(data) {
      $("#top10").html(data);
    setTimeout(function(){
      vnstat_top10()
    }, 600000);
  }
});
})();

  window.onload = function() {
    $.get('{{ url_for('boot_time') }}', function(data, xhr) {
      countUpFromTime(data, 'uptime');
    })
  };
  function countUpFromTime(countFrom, id) {
  countFrom = new Date(countFrom).getTime();
  var now = new Date(new Date().toUTCString().substr(0, 25)),
  countFrom = new Date(countFrom),
  timeDifference = (now - countFrom);

  var secondsInADay = 60 * 60 * 1000 * 24,
  secondsInAHour = 60 * 60 * 1000;

  days = Math.floor(timeDifference / (secondsInADay) * 1);
  hours = Math.floor((timeDifference % (secondsInADay)) / (secondsInAHour) * 1);
  mins = Math.floor(((timeDifference % (secondsInADay)) % (secondsInAHour)) / (60 * 1000) * 1);
  secs = Math.floor((((timeDifference % (secondsInADay)) % (secondsInAHour)) % (60 * 1000)) / 1000 * 1);

  var idEl = document.getElementById(id);
  idEl.getElementsByClassName('days')[0].innerHTML = days;
  idEl.getElementsByClassName('hours')[0].innerHTML = hours;
  idEl.getElementsByClassName('minutes')[0].innerHTML = mins;
  idEl.getElementsByClassName('seconds')[0].innerHTML = secs;

  clearTimeout(countUpFromTime.interval);
  countUpFromTime.interval = setTimeout(function(){ countUpFromTime(countFrom, id); }, 1000);
  }

  $(document).ready(function(){
    var protocol = window.location.protocol;
    var socket = io.connect(protocol + '//' + document.domain + ':' + location.port + '/websocket', {'path': '{{ config.URLBASE }}/socket.io'});
    socket.on('speed', function(result) {
      $('#current_rx').html(result.rx);
      $('#current_tx').html(result.tx)
    $('#current_total').html(result.total)
      $('#current_interface').html(result.interface)
      return false;
    });
    socket.on('iowait', function(result) {
      $('#iowait-glance').html(result.iowait);
      return false;
    });
  });

{% endmacro %}

{% macro build_widget_js_shared() %}
(function netusage() {
  $.ajax({
    url: "{{ url_for('network_quota') }}",
    statusCode: {
      401: function() {
        window.location.replace("{{ url_for('logout') }}");
      }
    },
    success: function(data) {
    var percent = Math.trunc(data['perutil']);
    $("#netfree").html(data['netfree']);
    $("#netused").html(data['netused']);
    $("#nettotal").html(data['nettotal']);
    $("#netpercent").html(data['perutil']);
    if (Number(data['perutil']) > 90) {
      $("#netindicator.systemindicator").addClass("bg-danger").removeClass("bg-success bg-warning");
      $("#netprogress").css("width", percent + "%").attr("aria-valuenow", percent).addClass("bg-danger").removeClass("bg-success bg-warning");
    } else if (Number(data['perutil']) > 75) {
      $("#netindicator.systemindicator").addClass("bg-warning").removeClass("bg-success bg-danger");
      $("#netprogress").css("width", percent + "%").attr("aria-valuenow", percent).addClass("bg-warning").removeClass("bg-success bg-danger");
    } else {
      $("#netindicator.systemindicator").addClass("bg-success").removeClass("bg-warning bg-danger");
      $("#netprogress").css("width", percent + "%").attr("aria-valuenow", percent).addClass("bg-success").removeClass("bg-danger bg-warning");
    }
    setTimeout(function(){
      netusage()
    }, 60000);
  }
});
})();
{% endmacro %}
