<div class="card border-dark mt-3">
    <div class="card-header">Network Info</div>
    <div class="card-body">
        <div class="row">
            <div class="col">
              <h5 class="text-center">Used</h5>
              <p class="text-center"><span id="netused"></span></p>
            </div>
            <div class="col">
              <h5 class="text-center">Free</h5>
              <p class="text-center"><span id="netfree"></span></p>
            </div>
            <div class="col">
              <h5 class="text-center">Total</h5>
              <p class="text-center"><span id="nettotal"></span></p>
            </div>
          </div>
      <div class="progress">
        <div id="ramprogress" class="progress-bar bg-warning" role="progressbar" style="" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <p class="text-center">Net utilization is at <span id="netpercent"></span>%</p>
    </div>
</div>