<div class="card border-dark mt-3">
    <div class="card-header">RAM Info</div>
    <div class="card-body">
        <div class="row">
            <div class="col">
              <h5 class="text-center">Used</h5>
              <p class="text-center"><span id="ramused"></span></p>
            </div>
            <div class="col">
              <h5 class="text-center">Free</h5>
              <p class="text-center"><span id="ramfree"></span></p>
            </div>
            <div class="col">
              <h5 class="text-center">Total</h5>
              <p class="text-center"><span id="ramtotal"></span></p>
            </div>
          </div>
      <div class="progress">
        <div id="ramprogress" class="progress-bar bg-warning" role="progressbar" style="" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
      <p class="text-center">RAM utilization is at <span id="rampercent"></span>%</p>
    </div>
</div>