{% import "macros.html" as macros %}
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{{ title }}</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon/favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/darkly/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('netdataproxy') }}dashboard.css"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/swizzin.css')}}">

            <script>
                var netdataNoBootstrap = true;
                var netdataTheme = 'slate';
            </script>

      </head>
    <body>
        <div class="d-flex" id="wrapper">
            {{macros.build_sidebar(pages=pages)}}
            {% if config.SHAREDSERVER == True %}
                {{macros.build_nav_shared(user=user, apps=pages)}}
            {% else %}
                {{macros.build_nav(user=user, apps=pages)}}
            {% endif %}          
                <div class="container-fluid">
<div class="row">
<div class="col-md-6">
<div class="card border-dark mt-3">
        <div class="card-header">System Input/Output</div>
        <div class="card-body">
    <div data-netdata="system.io"
        data-chart-library="dygraph"
        data-title="Disk IO (in: read, out: write)"
        data-append-options="absolute"
        data-height="250"
        data-after="-300"
        ></div>
        </div>
        </div>
</div>
<div class="col-md-6">

<div class="card border-dark mt-3">
        <div class="card-header">System Network</div>
        <div class="card-body">
    <div data-netdata="system.net"
        data-title="Network Usage"
        data-chart-library="dygraph"
        data-append-options="absolute"
        data-height="250"
        data-after="-300"
        ></div>
    </div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-6">

<div class="card border-dark mt-3">
        <div class="card-header">System Load</div>
        <div class="card-body">
    <div data-netdata="system.load"
        data-title="System Load"
        data-chart-library="dygraph"
        data-height="250"
        data-after="-300"
        ></div>
    </div>
</div>
</div>

<div class="col-md-6">

<div class="card border-dark mt-3">
        <div class="card-header">System CPU</div>
        <div class="card-body">
            <div data-netdata="system.cpu"
                    data-title="CPU usage"
                    data-chart-library="dygraph"
                    data-height="250"
                    data-after="-300"
                    data-dygraph-valuerange="[0, 100]"
                    ></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
                <!-- /#page-content-wrapper -->

              </div>

              <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
              <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
            <script type="text/javascript" src="{{ url_for('netdataproxy') }}dashboard.js"></script>

              <script>
                $("#menu-toggle").click(function(e) {
                  e.preventDefault();
                  $("#wrapper").toggleClass("toggled");
                });
              </script>

    </body>
</html>

