{% if config.ADMIN_USER == user %}
<table class="table table-condensed table-hover table-dark table-borderless">
    <thead class="table-active">
        <tr>
            <th scope="col">Period</th>
            <th scope="col" class="text-info text-center">Down</th>
            <th scope="col" class="text-success text-center">Up</th>
			<th scope="col" class="text-total text-center">Total</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>This Hour</td>
            <td class="text-info text-right text-center">{{ hour['rx'] }}</td>
            <td class="text-success text-center">{{ hour['tx'] }}</td>
			<td class="text-total text-center">(( hour['total'] }}</td>
        </tr>
        <tr>
            <td>Last Hour</td>
            <td class="text-info text-center">{{ lasthour['rx'] }}</td>
            <td class="text-success text-center">{{ lasthour['tx'] }}</td>
			<td class="text-total text-center">(( lasthour['total'] }}</td>
        </tr>
        <tr>
            <td>This Day</td>
            <td class="text-info text-center">{{ day['rx'] }}</td>
            <td class="text-success text-center">{{ day['tx'] }}</td>
			<td class="text-total text-center">(( day['total'] }}</td>
        </tr>
        <tr>
            <td>This Month</td>
            <td class="text-info text-center">{{ month['rx'] }}</td>
            <td class="text-success text-center">{{ month['tx'] }}</td>
			<td class="text-total text-center">(( month['total'] }}</td>
        </tr>
        <tr>
            <td>All Time</td>
            <td class="text-info text-center">{{ alltime['rx'] }}</td>
            <td class="text-success text-center">{{ alltime['tx'] }}</td>
			<td class="text-total text-center">(( alltime['total'] }}</td>
        </tr>
    </tbody>
</table>

<table class="table table-condensed table-hover table-dark table-borderless">
    <thead class="table-active">
        <tr>
            <th scope="col">Date</th>
            <th scope="col" class="text-info text-center">Down</th>
            <th scope="col" class="text-success text-center">Up</th>
			<th scope="col" class="text-total text-center">Total</th>
        </tr>
    </thead>
    <tbody>
        {% for t in top %}
        <tr>
            <td>{{ t['date'] }}</td>
            <td class="text-info text-center">{{ t['rx'] }}</td>
            <td class="text-success text-center">{{ t['tx'] }}</td>
			<td class="text-total text-center">{{ t['total'] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
